@model DistribuaAlimento.Models.Instituicao

@{
    ViewBag.Title = "Instituicao";
}
<br />
<br />
<br />
<div class="col-md-10 col-lg-offset-1">

        <div class="panel panel-success" id="panel" name="panel">
            <div class="panel-heading">
                <div class="panel-title"></div>
            </div>

            <div class="panel-body" id="panelInstituicao" name="panelInstituicao">

                <div class="form-group col-lg-4 text-left">
                    @Html.LabelFor(model => model.razaosocial)
                    @Html.EditorFor(model => model.razaosocial, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.razaosocial, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-lg-4 text-left">
                    @Html.LabelFor(model => model.nomeRepresentante)
                    @Html.EditorFor(model => model.nomeRepresentante, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.nomeRepresentante, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-lg-4 text-left">
                    @Html.LabelFor(model => model.email)
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-lg-4 text-left">
                    @Html.LabelFor(model => model.telefone)
                    @Html.EditorFor(model => model.telefone, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.telefone, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-lg-4 text-left">
                    @Html.LabelFor(model => model.cnpj)
                    @Html.EditorFor(model => model.cnpj, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.cnpj, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    <input type="button" value="Editar" onclick="location.href='@Url.Action("Edit", "Instituicao", new { id = Model.id })'" class="btn btn-primary btn-outline" />
    <input type="button" value="Excluir" onclick="ConfirmaExclusao();" class="btn btn-danger btn-outline" />
    <input type="button" value="Novo" onclick="location.href='@Url.Action("Create", "Instituicao")'" class="btn btn-success btn-outline" />
    <input type="button" value="Voltar" onclick="location.href='@Url.Action("Index", "Instituicao")'" class="btn btn-outline btn-warning" />
</div>
@section Scripts {
    <script>
        function ConfirmaExclusao() {
            var answer = confirm("Confirma a exclusão do registro?")
            if (answer) {
                window.location.href = '@Url.Action("Delete", "Instituicao", new { id = Model.id })';
            }
        }

    </script>
}
