@model DistribuaAlimento.Models.Evento

@{
    ViewBag.Title = "Evento";
}
<br />
<br />
<br />


<div class="col-md-10 col-lg-offset-1">

   

        <div class="panel panel-success" id="panel" name="panel">
            <div class="panel-heading">
                <div class="panel-title"></div>
            </div>

            <div class="panel-body" id="panelEvento" name="panelEvento">

                <div class="form-group col-lg-4 text-left">
                    @Html.LabelFor(model => model.nome)
                    @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    
                </div>
                <div class="form-group col-lg-4 text-left">
                    @Html.LabelFor(model => model.instituicao.razaosocial)
                    @Html.EditorFor(model => model.instituicao.razaosocial, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    
                </div>

                <div class="form-group col-lg-4 text-left">
                    @Html.LabelFor(model => model.inicio)
                    @Html.EditorFor(model => model.inicio, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                  
                </div>

                <div class="form-group col-lg-4 text-left">
                    @Html.LabelFor(model => model.fim)
                    @Html.EditorFor(model => model.fim, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                   
                </div>
                <div class="form-group col-lg-4 text-left">
                    @Html.LabelFor(model => model.publico)
                    @Html.EditorFor(model => model.publico, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                   
                </div>

            </div>
        </div>
    <input type="button" value="Editar" onclick="location.href='@Url.Action("Edit", "Evento", new { id = Model.id })'" class="btn btn-primary btn-outline" />
    <input type="button" value="Excluir" onclick="ConfirmaExclusao();" class="btn btn-danger btn-outline" />
    <input type="button" value="Novo" onclick="location.href='@Url.Action("Create", "Evento")'" class="btn btn-success btn-outline" />
    <input type="button" value="Voltar" onclick="location.href='@Url.Action("Index", "Evento")'" class="btn btn-outline btn-warning" />

</div>


@section Scripts {
    <script>
        function ConfirmaExclusao() {
            var answer = confirm("Confirma a exclusão do registro?")
            if (answer) {
                window.location.href = '@Url.Action("Delete", "Evento", new { id = Model.id })';
            }
        }

    </script>
}
